<table style="border: 0">
  <tr>
    <td style="width: 20%">
      Events Relation type:<br />
      <select id="relEventSelect" (change)="typeOfEventSelectionChanged()">
        <option value="rel_dfg">DFG</option>
        <option value="being_produced">Being Produced</option>
      </select>
      <br /><br />
      Type of model:<br />
      <select id="pmodelSelect" (change)="typeOfModelChanged()">
        <option value="model1">Model Type 1</option>
      </select>
      <br /><br />
      Node frequency:<br />
      <select id="nodeFreqSelect" (change)="typeOfNodeFreqChanged()">
        <option value="type1" *ngIf="model_type_variant == 'model1'">Type 1</option>
      </select>
      <br /><br />
      Edge frequency:<br />
      <select id="edgesFreqSelect" (change)="typeOfEdgesFreqChanged()">
        <option value="type11" *ngIf="model_type_variant == 'model1' && node_freq_variant == 'type1'">Type 1.1</option>
        <option value="type12" *ngIf="model_type_variant == 'model1' && node_freq_variant == 'type1'">Type 1.2</option>
      </select>
    </td>
    <td style="width: 80%">
      <div id="dotProvidedDiv">

      </div>
    </td>
  </tr>
</table>
